* text=auto

/.github            export-ignore
/_docs              export-ignore
/_screenshots       export-ignore
/build              export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore

